@import "bourbon/bourbon";

.Flippable {
  @include perspective(900px);
  display: block;
  height: 100%;
  width: 100%;
  position: relative;

  &:hover {
    .Flippable-face--front {
      z-index: -10;
      @include transform(rotateY(180deg));
    }

    .Flippable-face--back {
      z-index: 0;
      @include transform(rotateY(360deg));
    }
  }
}

.Flippable-face {
  display: block;
  height: 100%;
  width: 100%;

  @include transition-property (all);
  @include transition-duration(1.0s);
  @include backface-visibility(hidden);
  border: 20px solid white;
  border-radius: 50px;
}

.Flippable-face--front {
  @include transform(rotateY(0deg));
  z-index: 0;
}

.Flippable-face--back {
  position: absolute;
  top: 0;
  left: 0;
  @include transform(rotateY(180deg));
  z-index: -10;
}
