@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "flippable";

@font-face {
  font-family: 'LeagueGothic';
  src: url('/fonts/LeagueGothic-Regular.otf');
}

html {
  background: url(/images/brooklynbridge.jpg) no-repeat center center fixed; 
  background-size: cover;
}

main {
  padding: $gutter;
  color: white;
  @include clearfix;
}

.Quarter {
  display:block;
  float:left;
  width: 50%;

  @include media(max-width 900px 6) {
    width: 100%;
  }

  padding: $gutter;
}

$transparency: 0.9;
$lightbrown: rgba(126, 102, 23, $transparency);
$middlebrown: rgba(118, 57, 0, $transparency);
$soliddarkbrown: rgba(94, 39, 1, 1);
$lightgreen: rgba(61, 67, 28, $transparency);
$darkgreen: rgba(44, 47, 25, $transparency);

.Bio {
  text-align: center;
  background-color: $lightbrown;
  box-shadow: 15px 15px 25px black;
}

.Work {
  text-align: center;
  background-color: $lightgreen;
  box-shadow: 15px 15px 25px black;
}

.Photo {
  text-align: center;
  background-color: $darkgreen;
  box-shadow: 15px 15px 25px black;
}

.Contact {
  text-align: center;
  background-color: $middlebrown;
  box-shadow: 15px 15px 25px black;
}

.BackFace {
  background-color: $soliddarkbrown;
  color: white;
  box-shadow: 15px 15px 25px black;
  padding: $gutter;
}

  .BackFace-header {
    text-shadow: 4px 4px 20px black;
    font-family: 'Helvetica Neue';
    font-size: golden-ratio(1rem, 1);
  }

.h1 {
  display: inline-block;
  text-shadow: 4px 4px 20px black;
  font-family: 'LeagueGothic';
  font-size: golden-ratio(1rem, 3);
  padding: 15%;
}

