<% wrap_layout :layout do %>
  <main>
    <div class="Quarter">
      <div class="Flippable">
        <section class="Flippable-face Flippable-face--front Bio">
          <h1 class="Quarter-header">Bio</h1>
        </section>
        <section class="Flippable-face Flippable-face--back BackFace">
          <h1 class="Quarter-header">Plong</h1>
        </section>
      </div>
    </div>
    <div class="Quarter">
      <div class="Flippable">
        <section class="Flippable-face Flippable-face--front Work">
          <h1 class="Quarter-header">Work</h1>
        </section>
        <section class="Flippable-face Flippable-face--back BackFace">
          <h1 class="Quarter-header">Plong</h1>
        </section>
      </div>
    </div>
    <div class="Quarter">
      <div class="Flippable">
        <section class="Flippable-face Flippable-face--front Photo">
          <h1 class="Quarter-header">Photography</h1>
        </section>
        <section class="Flippable-face Flippable-face--back BackFace">
          <h1 class="Quarter-header">Plong</h1>
        </section>
      </div>
    </div>
    <div class="Quarter">
      <div class="Flippable">
        <section class="Flippable-face Flippable-face--front Contact">
          <h1 class="Quarter-header">Contact</h1>
        </section>
        <section class="Flippable-face Flippable-face--back BackFace">
          <h1 class="Quarter-header">Plong</h1>
        </section>
      </div>
    </div>
<% end %>
